Repository ASuciuX/stacks-core, changes with the owners that CODEOWNERS names for each.
All owners: @jcnelson, @kantai, @obycode, @stacks-network/blockchain-team, @jferrant, @xoloki, @wileyj, @CharlieC3

add trait
  clarity/src/vm/ast/traits_resolver/mod.rs
Owners: @jcnelson, @kantai, @obycode

display times for opening a block +
  stackslib/src/chainstate/stacks/index/marf.rs
  stackslib/src/chainstate/stacks/index/profile.rs
Owners: @jcnelson, @kantai, @obycode

feat: add devnet tweaks
  stackslib/src/burnchains/bitcoin/indexer.rs
  stackslib/src/burnchains/mod.rs
  stackslib/src/core/mod.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
  testnet/stacks-node/src/config.rs
  testnet/stacks-node/src/nakamoto_node/relayer.rs
Owners: @jcnelson, @kantai, @obycode

feat: add a next_initiative_delay config
  testnet/stacks-node/src/config.rs
  testnet/stacks-node/src/nakamoto_node/relayer.rs
Owners: @jcnelson, @kantai, @obycode

signer message
  stacks-signer/src/runloop.rs
Owners: @jferrant, @xoloki, @jcnelson, @kantai

testing displayed errors
  stacks-signer/src/runloop.rs
Owners: @jferrant, @xoloki, @jcnelson, @kantai

display sqlite version nakamoto db
  stackslib/src/chainstate/stacks/db/mod.rs
Owners: @jcnelson, @kantai, @obycode

add is_fully_synced through ibd for api
  stacks-signer/src/client/mod.rs
  stackslib/src/net/api/getinfo.rs
  stackslib/src/net/p2p.rs
Owners: @jferrant, @xoloki, @jcnelson, @kantai, @obycode

change branch used for mutation testing actions
  .github/workflows/pr-differences-mutants.yml
Owners: @stacks-network/blockchain-team

add .rs file modification for mutants to run
  stackslib/src/burnchains/affirmation.rs
Owners: @jcnelson, @kantai, @obycode

modify function to test mutant
  testnet/stacks-node/src/nakamoto_node/relayer.rs
Owners: @jcnelson, @kantai, @obycode

add workflow dispatch and parse the input
  .github/workflows/pr-differences-mutants.yml
Owners: @stacks-network/blockchain-team

add files for mutants
  stackslib/src/net/download/nakamoto/mod.rs
  stackslib/src/net/download/nakamoto/tenure_downloader_copy.rs
  stackslib/src/net/download/nakamoto/tenure_downloader_opy.rs
  stackslib/src/net/download/nakamoto/tenure_downloader_set_copy.rs
  stackslib/src/net/download/nakamoto/tenure_downloader_set_opy.rs
  stackslib/src/net/download/nakamoto/tenure_downloader_unconfirmed_copy.rs
  stackslib/src/net/download/nakamoto/tenure_downloader_unconfirmed_opy.rs
Owners: @jcnelson, @kantai, @obycode

feat: update mutants dispatch input name and type
  .github/workflows/pr-differences-mutants.yml
Owners: @stacks-network/blockchain-team

feat: fail the output job if there are too many mutants on a package
  .github/workflows/pr-differences-mutants.yml
Owners: @stacks-network/blockchain-team

try check right permission action
  .github/workflows/pr-differences-mutants.yml
Owners: @stacks-network/blockchain-team

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @jcnelson @kantai @obycode

# Generic file extensions that shouldn't require much scrutiny
*.md @stacks-network/blockchain-team
*.yml @stacks-network/blockchain-team
*.yaml @stacks-network/blockchain-team
*.txt @stacks-network/blockchain-team
*.toml @stacks-network/blockchain-team

# Signer code
libsigner/**/*.rs @jferrant @xoloki @jcnelson @kantai
stacks-signer/**/*.rs @jferrant @xoloki @jcnelson @kantai

## CI workflows
./github/workflows/ @wileyj @CharlieC3
./github/actions/ @wileyj @CharlieC3
